.dark-text,
.dark-text * {
  color: #222;
}

.fullheight {
  min-height: 600px;
}

* {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 2.028571429;
  background-color: #fff;
  font-weight: 300;
}

h1 {
  font-family: "Raleway", serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 36px;
}

.vertical-center-js {
  padding-top: 202px;
}

.dark-text,
.dark-text * {
  color: #222;
}

.fullheight {
  min-height: 600px;
}

.text-center {
  text-align: center;
}

@media (min-width: 1400px) {
  .container {
    width: 1400px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1190px;
  }
}
.dark-text,
.dark-text * {
  color: #222;
}
.fullheight {
  min-height: 600px;
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.text-center {
  text-align: center;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

div {
  display: block;
}
