h3,
p {
  padding: 20px;
}


#mainbody,
#sidebar {
  height: 100px;
  line-height: 25px;
  background: #eee;
  margin-bottom: 20px;
}
#mainbody,
#sidebar {
  height: 300px;
  float: left;
}
#mainbody {
  width: 620px;
  margin-right: 20px;
  background: #ddefcb;
}
#sidebar {
  width: 320px;
  background: #ffcbdd;
}