<app-slieshow></app-slieshow>
  <section id="mainbody">
    <h3>热门商品</h3>
    <div id="mainContent">

    <article>
      <img src="https://img.alicdn.com/imgextra/i1/2645215035/TB2y.PZcGQoBKNjSZJnXXaw9VXa_!!2645215035-0-beehive-scenes.jpg_300x300.jpg">
      <p>Coca-Cola 可乐瓶T恤</p>
      <p>简约的纯色基调，宣扬自由轻松的休闲氛围。</p>
    </article>
 
    <article>
      <img src="https://img.alicdn.com/imgextra/i3/3327431407/O1CN01md0LLx1MGRlyltWoe_!!3327431407-0-beehive-scenes.jpg_250x250xz.jpg">
      <p>熙薇 浅口复古奶奶鞋</p>
      <p>方头设计，演绎出英伦风。</p>
    </article>  
    
    <article>
      <img src="https://img.alicdn.com/tfscom/i2/345225844/TB2jfzphfBNTKJjy1zdXXaScpXa_!!345225844.jpg_360x360xzq90.jpg_.webp">
      <p>萌系卡通咖啡杯</p>
      <p>创意立体可爱萌系动物陶瓷杯子马克杯带盖勺牛奶杯情侣茶水咖啡杯</p>
    </article>   

    <article>
      <img src="https://img.alicdn.com/tfscom/i1/1581756766/TB2TF0ch0zJ8KJjSspkXXbF7VXa_!!1581756766.jpg_360x360xzq90.jpg_.webp">
      <p>大豆家 方头奶奶鞋</p>
      <p>一脚蹬设计，方便日常的穿脱</p>
    </article> 

    <article>
      <img src="https://img.alicdn.com/imgextra/i1/2294103729/TB2YJVek6uhSKJjSspaXXXFgFXa_!!2294103729-0-beehive-scenes.jpg_360x360xzq90.jpg_.webp">
      <p>抱枕选的好，家的颜值大提升</p>
      <p>北欧现代简约风格沙发靠垫办公室抱枕床头靠枕汽车靠包大靠背腰枕</p>
    </article>   

    <article>
      <img src="https://img.alicdn.com/tfscom/i3/1753596474/TB2ASAgcFXXXXakXpXXXXXXXXXX_!!1753596474.jpg_360x360xzq90.jpg_.webp">
      <p>没有脚的信凳 独特得不可思议</p>
      <p>吱音原创 信凳创意北欧设计水曲柳全实木矮凳子家具个性板凳</p>
    </article> 

    <article>
      <img src="https://gd4.alicdn.com/imgextra/i4/2618105498/O1CN01NSwaYH1qU8AIyyyWD_!!2618105498.jpg_400x400.jpg">
      <p>甜美学院风连衣裙</p>
      <p>很仙的情侣装夏装连衣裙海军领甜美学院风短袖上衣学生套装班服潮</p>
    </article>

    <article>
      <img src="https://gd2.alicdn.com/imgextra/i2/1045840968/O1CN01knWamh1J1NzHcPrf0_!!1045840968.jpg">
      <p>很仙的两件连衣裙</p>
      <p>很仙的法式情侣装一裙一衣两件夏季同色系露肩连衣裙2020新款裙子</p>
    </article>

    </div>
  </section>
  <aside id="sidebar">
    <h3>为您推荐</h3>
    
    <div id="sideContent">
    <article>
      <img src="https://img.alicdn.com/bao/uploaded/i1/369489411/TB21yFrfvjM8KJjSZFyXXXdzVXa_!!369489411.jpg_400x400q90.jpg_.webp">
      <p>简洁的桌面 给你一整天的舒畅</p>
      <p>书立文件夹收纳盒办公桌书本收纳资料桌面文件框学生宿舍神器</p>
    </article>

    <article>
      <img src="https://gma.alicdn.com/bao/uploaded/i2/101065208/O1CN01j5DFTS1oLJIc7ZlVg_!!0-saturn_solar.jpg_400x400.jpg_.webp">
      <p>软皮奶奶鞋</p>
      <p>方头单鞋女2020春新款平底浅口软皮奶奶鞋</p>
    </article>
    
    <article>
      <img src="https://img.alicdn.com/bao/uploaded/i1/1636802160/TB1G7G_RXXXXXaSaXXXXXXXXXXX_!!0-item_pic.jpg_400x400q90.jpg_.webp">
      <p>Let's protect your macbook</p>
      <p>macbookpro13苹果2020笔记本11电脑air13.3外壳12配件15保护壳mac</p>
    </article>

    <article>
      <img src="https://img.alicdn.com/bao/uploaded/i4/23670720/TB2Mk2yjfNNTKJjSspcXXb4KVXa_!!23670720.jpg_400x400q90.jpg_.webp">
      <p>儿童房也是颜值大担当</p>
      <p>阿楹 飘窗小置物架玄关抽屉柜 ins实木北欧儿童房整理桌面收纳盒</p>
    </article>
    </div>
  </aside>

  <div style="clear: both;"></div>