<app-slieshow></app-slieshow>
  <section id="mainbody">
    <h3>热门商品</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sem erat, egestas quis luctus ut, rhoncus vitae risus. Integer venenatis libero sit amet sapien dictum, quis bibendum mi volutpat. Cras pretium quam quis magna facilisis, eget feugiat nisi lacinia.</p>
  </section>
  <aside id="sidebar">
    <h3>为您推荐</h3>
    <p>Donec dolor arcu, interdum sed turpis faucibus, placerat ultricies felis. Donec pulvinar gravida rhoncus. Suspendisse vestibulum est eget dolor lobortis.</p>
  </aside>

  <div style="clear: both;"></div>