<div id="picShow">
    <div id="left">
        <div id="mainBox">
            <img src="https://gd3.alicdn.com/imgextra/i4/2618105498/O1CN01DDTl3U1qU8AJqxhWk_!!2618105498.jpg">
        </div>
        <div id="picList">
            <img width="50" src="https://gd3.alicdn.com/imgextra/i4/2618105498/O1CN01DDTl3U1qU8AJqxhWk_!!2618105498.jpg">
            <img width="50" src="https://gd1.alicdn.com/imgextra/i1/2618105498/O1CN01Hb2sGb1qU8AFe0I5j_!!2618105498.jpg">
            <img width="50" src="https://gd3.alicdn.com/imgextra/i3/2618105498/O1CN01BZ5hrZ1qU8AFdzcWA_!!2618105498.jpg">
            <img width="50" src="https://gd3.alicdn.com/imgextra/i3/2618105498/O1CN01vXN3Xm1qU8ADFTRqA_!!2618105498.jpg">
            <img width="50" src="https://gd4.alicdn.com/imgextra/i4/2618105498/O1CN01icWIMm1qU8AIodqPQ_!!2618105498.jpg">
        </div>
    </div>
    <div id="right">
        <h3>情侣装夏装情侣款2020年夏季两件套装连衣裙气质洋气衬衫拼色潮流</h3>
        <p>价格 <span>¥88.00-142.00</span></p>
        <p>配送 <span>广东广州</span> 至 
            <select>
                <option value="广东">广东</option>
                <option value="江西">江西</option>
                <option value="福建">福建</option>
                <option value="四川">四川</option>
                <option value="湖南">湖南</option>
                <option value="浙江">浙江</option>
            </select>
            <select>
                <option value="广州">广州</option>
                <option value="佛山">佛山</option>
                <option value="深圳">深圳</option>
                <option value="长沙">长沙</option>
                <option value="成都">成都</option>
                <option value="杭州">杭州</option>
            </select>

        </p>
        <p>快递 <span>免运费</span> 付款后3天内发货</p>
        <div>
            <p>尺码 
                <span>
                    <button>S</button>
                    <button>M</button>
                    <button>L</button>
                    <button>XL</button>
                    <button>2XL</button>
                </span>
            </p>
            <p>颜色 
                <span>
                    <button>红色</button>
                    <button>黄色</button>
                    <button>蓝色</button>
                    <button>绿色</button>
                    <button>青色</button>
                </span>
            </p>
        </div>
        <p id="amount">数量 
            <span>
                <button>-</button>
                <input type="text" value="1" name="amount" >
                <button>+</button>
            库存<span></span>
            </span>
        </p>

        <p id="bay">
            <button>立即购买</button>
            <button>加入购物车</button>
        </p>


    </div>
</div>


<div id="details">
    <img src="https://img.alicdn.com/imgextra/i3/2618105498/O1CN01dMEvCE1qU8924KiDn_!!2618105498.jpg">
    <img src="https://img.alicdn.com/imgextra/i2/2618105498/O1CN010c0x9L1qU8AGZBvWq_!!2618105498.jpg">
    <img src="https://img.alicdn.com/imgextra/i2/2618105498/O1CN01KE13Nj1qU8ADFUWLd_!!2618105498.jpg">
    <img src="https://img.alicdn.com/imgextra/i4/2618105498/O1CN01jsRmWB1qU8AH9g5or_!!2618105498.jpg">
    <img src="https://img.alicdn.com/imgextra/i1/2618105498/O1CN01pI76MZ1qU8AIodduJ_!!2618105498.jpg">
    <img src="https://img.alicdn.com/imgextra/i2/2618105498/O1CN01YCSWz31qU8AIod6ea_!!2618105498.jpg">
    <img src="https://img.alicdn.com/imgextra/i2/2618105498/O1CN01iloyAk1qU8AIobtoh_!!2618105498.jpg">
    <img src="https://img.alicdn.com/imgextra/i3/2618105498/O1CN0148Rb8c1qU8ADFTNfe_!!2618105498.jpg">
    <img src="https://img.alicdn.com/imgextra/i2/2618105498/O1CN01YHHlGq1qU8AF5tgQG_!!2618105498.jpg">
    <img src="https://img.alicdn.com/imgextra/i2/2618105498/O1CN01zTi12x1qU8AFYYrst_!!2618105498.jpg">
    <img src="https://img.alicdn.com/imgextra/i3/2618105498/O1CN01XqucZY1qU8ADFS6fM_!!2618105498.jpg">
    <img src="https://img.alicdn.com/imgextra/i3/2618105498/O1CN01xbWXS41qU8AFdz13j_!!2618105498.jpg">

</div>
