<div>
    <div id="top">
        <img src="https://pic2.zhimg.com/v2-c0200cb8e7793b6cb4891cc168c4b946_xll.jpg">
        <span>托马斯小小买家</span>
        <div id="info">
            <div id="list">
                <ul>
                    <li>53</li>
                    <li>足迹</li>
                </ul>
                <ul>
                    <li>53</li>
                    <li>淘龄</li>
                </ul>
                <ul>
                    <li>53</li>
                    <li>本月消费</li>
                </ul>
            </div>
        </div>
        <i class="fa fa-sign-out" aria-hidden="true"></i>
    </div>
    <div id="card">
        <div id="payment">
            <p><i class="fa fa-caret-right" aria-hidden="true"></i> &nbsp; <span>待付款</span><i class="fa fa-ellipsis-h" aria-hidden="true"></i></p>
            <div class="content">
                <section>
                    <article>
                        <img src="https://img.alicdn.com/imgextra/i1/3063594148/O1CN01FPFYu51gVpMpNsgPB_!!0-item_pic.jpg_430x430q90.jpg">
                        <span>得力白色2b橡皮擦绘图考试袋装4b橡皮擦学生擦得干净</span>
                        <span>付款</span>
                        <span>取消交易</span>
                        <p style="clear:both"></p>
                    </article>
                    <article>
                        <img src="https://img.alicdn.com/imgextra/i1/3063594148/O1CN01FPFYu51gVpMpNsgPB_!!0-item_pic.jpg_430x430q90.jpg">
                        <span>得力白色2b橡皮擦绘图考试袋装4b橡皮擦学生擦得干净</span>
                        <span>付款</span>
                        <span>取消交易</span>
                        <p style="clear:both"></p>
                    </article>
                    <article>
                        <img src="https://img.alicdn.com/imgextra/i1/3063594148/O1CN01FPFYu51gVpMpNsgPB_!!0-item_pic.jpg_430x430q90.jpg">
                        <span>得力白色2b橡皮擦绘图考试袋装4b橡皮擦学生擦得干净</span>
                        <span>付款</span>
                        <span>取消交易</span>
                        <p style="clear:both"></p>
                    </article>
                </section>
            </div>
        </div>
        <div id="deliver">
            <p><i class="fa fa-caret-right" aria-hidden="true"></i> &nbsp; <span>待发货</span></p>
            <div class="content">
                <section>
                    <article>
                        <img src="https://img.alicdn.com/imgextra/i1/3063594148/O1CN01FPFYu51gVpMpNsgPB_!!0-item_pic.jpg_430x430q90.jpg">
                        <span>得力白色2b橡皮擦绘图考试袋装4b橡皮擦学生擦得干净</span>
                        <span>退款</span>
                        <span>提醒发货</span>
                        <p style="clear:both"></p>
                    </article>
                    <article>
                        <img src="https://img.alicdn.com/imgextra/i1/3063594148/O1CN01FPFYu51gVpMpNsgPB_!!0-item_pic.jpg_430x430q90.jpg">
                        <span>得力白色2b橡皮擦绘图考试袋装4b橡皮擦学生擦得干净</span>
                        <span>退款</span>
                        <span>提醒发货</span>
                        <p style="clear:both"></p>
                    </article><article>
                        <img src="https://img.alicdn.com/imgextra/i1/3063594148/O1CN01FPFYu51gVpMpNsgPB_!!0-item_pic.jpg_430x430q90.jpg">
                        <span>得力白色2b橡皮擦绘图考试袋装4b橡皮擦学生擦得干净</span>
                        <span>退款</span>
                        <span>提醒发货</span>
                        <p style="clear:both"></p>
                    </article><article>
                        <img src="https://img.alicdn.com/imgextra/i1/3063594148/O1CN01FPFYu51gVpMpNsgPB_!!0-item_pic.jpg_430x430q90.jpg">
                        <span>得力白色2b橡皮擦绘图考试袋装4b橡皮擦学生擦得干净</span>
                        <span>退款</span>
                        <span>提醒发货</span>
                        <p style="clear:both"></p>
                    </article>
                </section>
            </div>
        </div>
        <div id="receive">
            <p><i class="fa fa-caret-right" aria-hidden="true"></i> &nbsp; <span>待收货</span></p>
            <div class="content">
                <section>
                    <article>
                        <img src="https://img.alicdn.com/imgextra/i1/3063594148/O1CN01FPFYu51gVpMpNsgPB_!!0-item_pic.jpg_430x430q90.jpg">
                        <span>得力白色2b橡皮擦绘图考试袋装4b橡皮擦学生擦得干净</span>
                        <span>收货</span>
                        <span>查看物流</span>
                        <p style="clear:both"></p>
                    </article>
                    <article>
                        <img src="https://img.alicdn.com/imgextra/i1/3063594148/O1CN01FPFYu51gVpMpNsgPB_!!0-item_pic.jpg_430x430q90.jpg">
                        <span>得力白色2b橡皮擦绘图考试袋装4b橡皮擦学生擦得干净</span>
                        <span>收货</span>
                        <span>查看物流</span>
                        <p style="clear:both"></p>
                    </article><article>
                        <img src="https://img.alicdn.com/imgextra/i1/3063594148/O1CN01FPFYu51gVpMpNsgPB_!!0-item_pic.jpg_430x430q90.jpg">
                        <span>得力白色2b橡皮擦绘图考试袋装4b橡皮擦学生擦得干净</span>
                        <span>收货</span>
                        <span>查看物流</span>
                        <p style="clear:both"></p>
                    </article><article>
                        <img src="https://img.alicdn.com/imgextra/i1/3063594148/O1CN01FPFYu51gVpMpNsgPB_!!0-item_pic.jpg_430x430q90.jpg">
                        <span>得力白色2b橡皮擦绘图考试袋装4b橡皮擦学生擦得干净</span>
                        <span>收货</span>
                        <span>查看物流</span>
                        <p style="clear:both"></p>
                    </article>
                </section>
            </div>

        </div>
        <div id="after">
            <p><i class="fa fa-caret-right" aria-hidden="true"></i> &nbsp; <span>售后</span></p>
            <div class="content">
                <section>
                    <article>
                        <img src="https://img.alicdn.com/imgextra/i1/3063594148/O1CN01FPFYu51gVpMpNsgPB_!!0-item_pic.jpg_430x430q90.jpg">
                        <span>得力白色2b橡皮擦绘图考试袋装4b橡皮擦学生擦得干净</span>
                        <span>评价</span>
                        <span>退货</span>
                        <p style="clear:both"></p>
                    </article>
                    <article>
                        <img src="https://img.alicdn.com/imgextra/i1/3063594148/O1CN01FPFYu51gVpMpNsgPB_!!0-item_pic.jpg_430x430q90.jpg">
                        <span>得力白色2b橡皮擦绘图考试袋装4b橡皮擦学生擦得干净</span>
                        <span>评价</span>
                        <span>退货</span>
                        <p style="clear:both"></p>
                    </article><article>
                        <img src="https://img.alicdn.com/imgextra/i1/3063594148/O1CN01FPFYu51gVpMpNsgPB_!!0-item_pic.jpg_430x430q90.jpg">
                        <span>得力白色2b橡皮擦绘图考试袋装4b橡皮擦学生擦得干净</span>
                        <span>评价</span>
                        <span>退货</span>
                        <p style="clear:both"></p>
                    </article><article>
                        <img src="https://img.alicdn.com/imgextra/i1/3063594148/O1CN01FPFYu51gVpMpNsgPB_!!0-item_pic.jpg_430x430q90.jpg">
                        <span>得力白色2b橡皮擦绘图考试袋装4b橡皮擦学生擦得干净</span>
                        <span>评价</span>
                        <span>退货</span>
                        <p style="clear:both"></p>
                    </article>                    
                </section>
            </div>
        </div>
    </div>

</div>