a{
    text-decoration: none;
    color: rgba(0, 103, 184);
}

#main_bg{
    background: url(../../../assets/img/login_page_bg.jpg) no-repeat;
    background-size: auto 100%;
    background-position: center center;
    height: 800px;
    position: relative;
}
#login_content,
#password_content {
    width: 450px;
    height: 380px;
    background: white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: #eee solid 2px;
    box-shadow: #ececec 3px 3px 10px;
    padding: 50px;
}
#password_content {
    height: 420px;
}
#main_bg h2{
    font-size: 1.25rem;
    font-weight: 600;
}
#main_bg h1{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 60px;
}
input[name="username"],input[name="password"],input[name="newUsername"],input[name="newPassword"]{
    border: none;
    border-bottom: black solid 1px;
    height: 35px;
    width: 100%;
    outline:none; 
}
#main_bg p{
    margin:0;
    margin-top: 20px;
    position: relative;
    width: 100%;
}

#password_content p:nth-of-type(1){
    margin:0;
}

.peakTopPassword{
    margin-top: 50px;
}

.btn input{
    width: 100px;
    height: 35px;
    background: #2ffeff;
    border: none;
    position: absolute;
    right: 1px;
}
.password input{
    margin-top: 0px;
}
.create input{
    margin-top: 80px;
}
.fa{
    margin-right: 10px;
}
.fa-square-o,.fa-check-square{
    font-size: 30px;
}
.msg{
    color: tomato;
    margin-top:0;
}

#login_content,#password_content{
    display: none;
}
#login_content{
    display: block;
}


@media (max-width: 920px) {

    #main_bg{
        background-position: -200px center;
    }
}

@media (max-width: 500px) {

    #main_bg{
        background-position: -200px center;
        height: 600px;
        margin-bottom: 20px;
    }
    #login_content,
    #password_content{
        width: 100%;
        height: 100%;
        margin: 0;
        border: none;
        box-shadow: none;

        position: none;
        top: 0;
        left: 0;
        transform: translate(0,0);
    }
    #main_inbox{
        width: 100%;
        margin: 0 auto;
    }

}