.container {
    width: 960px;
    margin: 0 auto;
  }
 
  

  /* 响应式设计 */
  /* 设置三个断点分别为：屏幕宽度大于1200，小于960，小于767 */
  
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
    #mainbody {
      width: 770px;
      margin-right: 30px;
    }
    #sidebar {
      width: 370px;
    }
  }
  
  @media (max-width: 959px) {
    .container {
      width: 100%;
    }
    #mainbody {
      width: 67%;
    }
    #sidebar {
      width: 30%;
      float: right;
    }
  }
  
  @media (max-width: 767px) {
    #mainbody,
    #sidebar {
      float: none;
      width: 100%;
    }
  }