<nav>
    <ul>
        <li>综合排序</li>
        <li>销量</li>
        <li>价格低</li>
        <li>价格高</li>
        <li><i class="fa fa-list" aria-hidden="true"></i></li>
        <li><i class="fa fa-th-large" aria-hidden="true"></i></li>
    </ul>
</nav>

<div style="clear:both"></div>
<section>
    <article>
        <img src="https://g-search1.alicdn.com/img/bao/uploaded/i4/imgextra/i3/126185578/O1CN01Shtwug1r4lqanUR2s_!!0-saturn_solar.jpg_460x460Q90.jpg_.webp">
        <p>¥ 259.00</p>
        <p>sincethen法式复古初恋桔梗碎花连衣裙吊带度假v领长裙夏超仙甜美</p>
    </article>
    <article>
        <img src="https://g-search1.alicdn.com/img/bao/uploaded/i4/imgextra/i3/126185578/O1CN01Shtwug1r4lqanUR2s_!!0-saturn_solar.jpg_460x460Q90.jpg_.webp">
        <p>¥ 259.00</p>
        <p>sincethen法式复古初恋桔梗碎花连衣裙吊带度假v领长裙夏超仙甜美</p>
    </article>
    <article>
        <img src="https://g-search1.alicdn.com/img/bao/uploaded/i4/imgextra/i3/126185578/O1CN01Shtwug1r4lqanUR2s_!!0-saturn_solar.jpg_460x460Q90.jpg_.webp">
        <p>¥ 259.00</p>
        <p>sincethen法式复古初恋桔梗碎花连衣裙吊带度假v领长裙夏超仙甜美</p>
    </article>
    <article>
        <img src="https://g-search1.alicdn.com/img/bao/uploaded/i4/imgextra/i3/126185578/O1CN01Shtwug1r4lqanUR2s_!!0-saturn_solar.jpg_460x460Q90.jpg_.webp">
        <p>¥ 259.00</p>
        <p>sincethen法式复古初恋桔梗碎花连衣裙吊带度假v领长裙夏超仙甜美</p>
    </article>
    <article>
        <img src="https://g-search1.alicdn.com/img/bao/uploaded/i4/imgextra/i3/126185578/O1CN01Shtwug1r4lqanUR2s_!!0-saturn_solar.jpg_460x460Q90.jpg_.webp">
        <p>¥ 259.00</p>
        <p>sincethen法式复古初恋桔梗碎花连衣裙吊带度假v领长裙夏超仙甜美</p>
    </article>
    <article>
        <img src="https://g-search1.alicdn.com/img/bao/uploaded/i4/imgextra/i3/126185578/O1CN01Shtwug1r4lqanUR2s_!!0-saturn_solar.jpg_460x460Q90.jpg_.webp">
        <p>¥ 259.00</p>
        <p>sincethen法式复古初恋桔梗碎花连衣裙吊带度假v领长裙夏超仙甜美</p>
    </article>
</section>