nav ul{
    padding: 0;
    margin: 0;
    background: #efffdb;
    margin-bottom: 10px;
}
nav li{
    list-style:none;
    display: inline-block;
    padding: 5px 15px;
    line-height: 34px;
}
nav li:nth-of-type(5),
nav li:nth-of-type(6){
    float: right;
    padding-right: 12px;
}

p{
    padding: 0;
    margin: 0;
}
section{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* background: skyblue; */
}

article{
    width: 200px;
    border: #eee solid 1px;
    font-size: 18px;
    margin: 0 auto 10px;
    border-radius: 5px;
}
article img{
    width: 100%;
    margin-bottom: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
article p{
    padding: 0 5px 10px 5px;
    font-size: 14px;
}
article p:nth-of-type(1){
    font-weight: 700;
    padding-bottom: 0;
    color: #f40;
}


@media (max-width: 400px) {
    section{
        grid-template-columns: 1fr 1fr;
    } 
    article{
        width: 180px;
    }
    nav li{
        padding: 5px 10px;
        line-height: 34px;
    }
    nav li:nth-of-type(5),
    nav li:nth-of-type(6){
        float: right;
        padding-right: 12px;
    }

}
@media (max-width: 370px) {
    section{
        grid-template-columns: 1fr;
    } 
    article{
        width: calc(100% - 10px);
        margin: 5px;
    }
    article img{
        width: 80px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 0;
        margin-bottom: 0;
        float: left;
    }
    article p{
        float: left;
        width: calc(100% - 90px);
        padding-left: 10px;
    }
    article p:nth-of-type(1){
        padding-top: 6px;
    }

    nav li{
        padding: 5px 6px;
        line-height: 34px;
    }
    nav li:nth-of-type(5),
    nav li:nth-of-type(6){
        float: right;
        padding-right: 12px;
    }
}