<section id="info">
    <article>
        <p>收件人1</p>
        <p>17679391016</p>
        <p>广东省广州市天河区珠吉路</p>
        <i class="fa fa-check" aria-hidden="true"></i>
    </article>

    <article>
        <p>收件人2</p>
        <p>17679391016</p>
        <p>广东省广州市天河区珠吉路</p>
    </article>

    <article>
        <p>收件人3</p>
        <p>17679391016</p>
        <p>广东省广州市天河区珠吉路</p>
    </article>
</section>

<section id="goods">
    <article>
        <img src="https://img.alicdn.com/imgextra/i1/3063594148/O1CN01FPFYu51gVpMpNsgPB_!!0-item_pic.jpg_430x430q90.jpg">
        <div class="info">
            <span>得力白色2b橡皮擦绘图考试袋装4b橡皮擦学生擦得干净</span>
            <span class="param">参数1：9368（3块/袋）</span>
            <span class="param">参数2：9368（3块/袋）</span>
            <span class="param">参数3：9368（3块/袋）</span>
            <span><input type="button" value="-"><i id="amount">1</i><input type="button" value="+"></span>
            <span class="price">$ 2.30</span>
        </div>
    </article>
</section>

<div id="oper">
    <article>
        <p><b>实付款:</b> &nbsp; <span id="price">¥ 91.64</span></p>
        <p><b>寄送至:</b> &nbsp; <span id="address">广东省广州市天河区珠吉路</span></p>
        <p><b>收件人:</b> &nbsp; <span id="phone">收件人1 17679391061</span></p>
        <button (click)="submit()">提交订单</button>
    </article>
</div>