
<section id="left">
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action active">手机数码</button>
        <button type="button" class="list-group-item list-group-item-action">电脑办公</button>
        <button type="button" class="list-group-item list-group-item-action">家用电器</button>
        <button type="button" class="list-group-item list-group-item-action">计生情趣</button>
        <button type="button" class="list-group-item list-group-item-action">美妆护肤</button>
        <button type="button" class="list-group-item list-group-item-action">个护清洗</button>
        <button type="button" class="list-group-item list-group-item-action">汽车生活</button>
        <button type="button" class="list-group-item list-group-item-action">男装</button>
        <button type="button" class="list-group-item list-group-item-action">女装</button>
    </div>
</section>

<section id="right">
    <div id="rightContent">
        <!-- <article>
            <img src="//img30.360buyimg.com/focus/s140x140_jfs/t13411/188/926813276/3945/a4f47292/5a1692eeN105a64b4.png">
            <p>小米</p>
        </article> -->

        <article>
            <img src="//img14.360buyimg.com/focus/s140x140_jfs/t11929/135/2372293765/1396/e103ec31/5a1692e2Nbea6e136.jpg">
            <p>华为</p>
        </article>
       
        <article>
            <img src="//img10.360buyimg.com/focus/s140x140_jfs/t12178/348/911080073/4732/db0ad9c7/5a1692e2N6df7c609.jpg">
            <p>荣耀</p>
        </article>
      
        <article>
            <img src="//img20.360buyimg.com/focus/s140x140_jfs/t13759/194/897734755/2493/1305d4c4/5a1692ebN8ae73077.jpg">
            <p>Apple</p>
        </article>
     
        <article>
            <img src="//img11.360buyimg.com/focus/s140x140_jfs/t11014/359/2341377211/2777/1755c29c/5a169244Nff0179e0.png">
            <p>vivo</p>
        </article>
        
        <article>
            <img src="//img13.360buyimg.com/focus/s140x140_jfs/t13036/273/932026474/2570/a3517c7d/5a169254N4bbbd9fb.png">
            <p>OPPO</p>
        </article>

        <article>
            <img src="//img11.360buyimg.com/focus/s140x140_jfs/t11014/359/2341377211/2777/1755c29c/5a169244Nff0179e0.png">
            <p>vivo</p>
        </article>
        <article>
            <img src="//img20.360buyimg.com/focus/s140x140_jfs/t12820/326/909017718/7138/68cde747/5a169243N40eca33c.jpg">
            <p>魅族</p>
        </article>
        <article>
            <img src="//img13.360buyimg.com/focus/s140x140_jfs/t11509/131/2348573811/3425/4f20fe6/5a16925aN8a6dfd03.png">
            <p>三星</p>
        </article>
        <article>
            <img src="//img13.360buyimg.com/focus/s140x140_jfs/t11209/71/2351231464/4158/fc0c415c/5a16923fNfc14307e.jpg">
            <p>一加</p>
        </article>
        <article>
            <img src="//img20.360buyimg.com/focus/s140x140_jfs/t13096/309/908035611/5138/5558f001/5a16924fNeac7677e.jpg">
            <p>360</p>
        </article>
        <article>
            <img src="//img10.360buyimg.com/focus/s140x140_jfs/t1/84715/12/13703/4118/5e5f0dacE08741f12/63fb9e75fbaf0738.jpg">
            <p>锤子</p>
        </article>
        <article>
            <img src="//img11.360buyimg.com/focus/s140x140_jfs/t1/108301/34/7712/3254/5e5f0de9E4ca2f4b5/c664966ee1d36d47.jpg">
            <p>努比亚</p>
        </article>
    </div> 

</section>

<div> &nbsp;</div>