<nav>
    <ul>
        <li><i class="fa fa-square-o" aria-hidden="true"></i></li>
        <li>结算</li>
        <li>删除</li>
        <li>¥ 500</li>
        <li>共选择 <span>5</span> 件商品</li>
    </ul>
</nav>

<section>
    <article>
        <img src="https://img.alicdn.com/imgextra/i1/3063594148/O1CN01FPFYu51gVpMpNsgPB_!!0-item_pic.jpg_430x430q90.jpg">
        <div class="info">
            <span>得力白色2b橡皮擦绘图考试袋装4b橡皮擦学生擦得干净</span>
            <span>参数1：9368（3块/袋）</span>
            <span>参数2：9368（3块/袋）</span>
            <span>参数3：9368（3块/袋）</span>
            <span><input type="button" value="-">1<input type="button" value="+"></span>
            <span class="price">$ 2.30</span>
            <span class="calc">删除</span>
            <span class="del">结算</span>
        </div>
        <i class="fa fa-square-o" aria-hidden="true"></i>
    </article>
    <article>
        <img src="https://img.alicdn.com/imgextra/i1/3063594148/O1CN01FPFYu51gVpMpNsgPB_!!0-item_pic.jpg_430x430q90.jpg">
        <div class="info">
            <span>得力白色2b橡皮擦绘图考试袋装4b橡皮擦学生擦得干净</span>
            <span>参数1：9368（3块/袋）</span>
            <span>参数2：9368（3块/袋）</span>
            <span>参数3：9368（3块/袋）</span>
            <span><input type="button" value="-">1<input type="button" value="+"></span>
            <span class="price">$ 2.30</span>
            <span class="calc">删除</span>
            <span class="del">结算</span>
        </div>
        <i class="fa fa-square-o" aria-hidden="true"></i>
    </article>
</section>